<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestUtils</title>

    <style>
        /* .container{
            margin: 40px;
            display: flex;
            /* justify-content: space-between; */
            /* align-items: center; */
        /* }  */

    </style>
</head>
<body>
    <h1>Welcome to the Text Analyzer. Enter your text below..</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" style="height: 100px; width: 300ox;"></textarea>    
            <input type="checkbox" name="removepunc"> Remove punctuations <br>
             <input type="checkbox" name="fullcaps"> UPPER CASE<br>
             <input type="checkbox" name="newlineremover"> New Line Removed<br>
            <input type="checkbox" name="extraspaceremover"> Spaces Removed<br>
            <input type="checkbox" name="charcount"> Count Characters
            <br>
            <button type="submit"> Analyze text</button>
    </form>


</body>



</html>
